<div class="container">
    <div class='container d-flex flex-row flex-wrap justify-content-center'>
        {{#if products}}
            {{#each products}}
                <div class="card w-25 text-center m-1 shadow">
                    <h3>{{this.title}}</h3>
                    <p>price: ${{this.price}}</p>
                    <img src={{this.thumbnail}} alt="">
                    <p class="fs-6">{{this.description}}</p>
                    <span class="fw-bold">stock: {{this.stock}}</span>
                    <span>code: {{this.code}}</span>
                </div>
            {{/each}}
        {{else}}
            <h2>Theres no products</h2>
        {{/if}}
    </div>
</div>